
body{
    margin: 0px;
    padding: 0;
    background: #F7CAC9;
}

.side-image,#right{
   width: 40%;
   margin-top: 5%;
   margin-left: 5%;
   border-radius: 180px 10px;
   border: 2px solid #f9a825;
   box-sizing: border-box;
   float: left;
   box-shadow: 5px 8px #FF6F61;
}

#right{
    padding: 30px;
    text-align: center;
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)),url("images/dog-image3.jpg");
    line-height: 1.6;
}

#right h1{
    font-family: sans-serif;
    font-size: 60px;
    color: #BC243C;
}

#right h2{
    font-family: cursive;
}